.DS_Store
*.swp
*.svg
topologic.js
!src/topologic.js
documentation/html
documentation/xml
!topologic-icon.svg
documentation/*.tag
build-*
documentation.xml
topologic-emscripten.js
topologic-emscripten.nogl.js
topologic-emscripten.html
.downloads
topologic.css
!src/topologic.css
*.gz
src/chrome/topologic.html
src/chrome/jquery*.js
chrome-app.zip
dependencies.mk
topologic.tag
doxyfile
*.db
*.out
